.main-card {
  margin: auto;
  background-color: white;
  width: 100%;

  color: black;

  box-sizing: border-box;
}

header {
  font-family: headerFont;
  letter-spacing: 0.3em;
 /*   background-color: #FE523F; */
  background: rgb(237, 102, 102);
  background: linear-gradient(
    68deg,
    rgba(237, 102, 102, 1) 0%,
    rgba(243, 74, 55, 1) 100%,
    rgba(250, 26, 0, 0.8847710959383753) 100%
  );
  padding: 20px;
  padding-left: 20px;
  color: rgb(2, 2, 2);
  text-transform: uppercase;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  
}

.headertitle {
  font-size: 1.13em;
  margin-left: 20px;
  text-transform: uppercase;
}

.title {
  padding-top: 10px;
  
  text-transform: uppercase;
}

html {
   min-height: 100%;
}

body {
  margin: 0;
  background-color: white;
}

main {
  padding: 25px;
  min-height: 45vh;
  
}

.card-tools {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
/*   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8); */
  transform: scale(0.98);
  transition: 0.9s;
  
  
  max-width: 300px;
  flex-wrap: wrap;
}

.card-tools:hover {
  transition: 0.9s;
  transform: scale(1);
}




.banner-logo {
  height: 100%;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  background-image: url(https://cdn.glitch.global/54d47800-453c-4da2-b11a-521bf1981d50/e6ea1ca3-8fa5-4304-bcf9-6f0ca7bd9110.image.png?v=1681618115451)
}

footer{
  bottom: 0;
}


.best-tools-text {
  font-size: 1.4em;
}

.tools{

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}